<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	{% set unit=config.get("billing", "unit").decode("utf-8")%}
	<title>{% if title is defined %}{{title}} | {% endif %}OvzCP</title>
	<link rel="stylesheet" href="{{reverse_url('css')}}" type="text/css" media="screen" />
	<script src="{{static_url("jquery.js")}}" type="text/javascript" language="javascript" charset="utf-8"></script>
	<meta http-equiv="X-UA-Compatible" content="chrome=1" />
</head>
<body>
<div id="tooltip"></div>
<div id="container">
<div id="top-bar">
	<div id="top-bar-in">
		<div id="logo"><a href="/">OvzCP</a></div>
		<div id="version">0.2 {% trans %}by whsgroup.ath.cx{% endtrans %} | <img src="{{static_url('flags/'+locale+'.gif')}}" />
		<form method="get" style="display: inline;" id="langfrm"><select name="_locale">
		{% for i in localeList.iteritems() %}
			<option value="{{i[0]}}"{% if i[0] == locale %} selected{% endif %}>{{i[1]}}</option>
		{% endfor %}
		</select></form>
		</div>
		{# Actually, we need lso service, but Google does not allow external redirection #}
		<div id="user"><a href="https://www.google.com/accounts/Logout?continue={{auth_url}}&service=ah"><img src='{{static_url("logout.png")}}' /><b>{{current_user.email}}</b></a> 
		({{current_user.credit|int}} {{unit}}{% if totalcost %} | <span class="time" title="{% trans %}Time left until {{unit}} depletion{% endtrans %}">{{((current_user.credit)/totalcost)*60}}</span>{% endif %})</div>
	</div>
</div>
<div id="left-bar">
	<div id="left-bar-in">
		<ul>
			<li><a href="{{reverse_url('dashboard')}}">{% trans %}Dashboard{% endtrans %}</a></li>
			<li><a href="{{reverse_url('containers')}}">{% trans %}Containers{% endtrans %}</a></li>
			<li><a href="{{reverse_url('billing')}}">{% trans %}Billing{% endtrans %}</a></li>
			<li><a href="{{reverse_url('hostspec')}}">{% trans %}Host Info{% endtrans %}</a></li>
			<li><a href="{{reverse_url('apiweb')}}">{% trans %}API{% endtrans %}</a></li>
{% if config.getboolean("cloudcp", "enabled") %}
			<li><a href="{{reverse_url('cloud')}}">{% trans %}Cloud Storage{% endtrans %}</a></li>
{% endif %}
			<li id="endbg"></li>
		</ul>
	</div>
</div>
<div id="body">
	{% if error %}
	<div id="error" class="notify">
		<div class="close"><img src="{{static_url("close.png")}}" /></div>
		{{error}}
		{% if error_log %}
		<div class="loghead">{% trans %}Collapse/Expand{% endtrans %}</div>
		<pre>{{error_log}}</pre>
		{% endif %}
	</div>
	{% endif %}
	{% if message %}
	<div class="notify"><div class="close"><img src="{{static_url("close.png")}}" /></div>{{message}}</div>
	{% endif %}
	{% if current_user.credit < 0 %}
	<div id="error" class="notify">
		<div class="close"><img src="{{static_url("close.png")}}" /></div>
		{% trans %}You have no {{unit}} available!{% endtrans %}
	</div>
	{% endif %}
	{% block body %}
	{% endblock %}
	<br style="clear: both;" />
</div>
<br style="clear: both;" />
<div id="bottom">
	<b>OvzCP</b> is based on <a href="http://pinvoke.com/" rel="nofollow">Fugue Icons</a> | <a href="http://famfamfam.com" rel="nofollow">FamFamFam</a> flag icons | <b><a href="http://whsgroup.ath.cx">whsgroup.ath.cx</a></b> | Google Charts API
</div>
</div>
<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
function formatTime(time, sh){
	out = []
	if(time >= 86400){
		date = Math.floor(time / 86400)
		if(date > 1) form="{{ngettext('day', 'days', 2)}}"
		else form="{{ngettext('day', 'days', 1)}}"
		if(sh)
			out.push(date+"{% trans %}d{% endtrans %}") {#_ Shorter version of day #}
		else
			out.push(date+" "+form)
		time = time - (date*86400)
	}
	if(time >= 3600){
		hour = Math.floor(time / 3600)
		if(hour > 1) form = "{{ngettext('hour', 'hours', 2)}}"
		else form = "{{ngettext('hour', 'hours', 1)}}"
		if(sh)
			out.push(hour+"{% trans %}h{% endtrans %}") {#_ Shorter version of hour #}
		else
			out.push(hour+" "+form)
		time = time - (hour*3600)
	}
	if(time >= 60){
		min = Math.floor(time / 60)
		if(min > 1) form = "{{ngettext('minute', 'minutes', 2)}}"
		else form = "{{ngettext('minute', 'minutes', 1)}}"
		if(sh)
			out.push(min+"{% trans %}m{% endtrans %}") {#_ Shorter version of minutes #}
		else
			out.push(min+" "+form)
		time = time - (min*60)
	}
	if(time > 0){
		if(time > 1) form = "{{ngettext('second', 'seconds', 2)}}"
		else form = "{{ngettext('second', 'seconds', 1)}}"
		if(sh)
			out.push(parseInt(time)+"{% trans %}s{% endtrans %}") {#_ Shorter version of seconds #}
		else
			out.push(parseInt(time)+" "+form)
	}
	if(time == 0)
		return "{% trans %}now{% endtrans %}"; {#_ Cron will be run in: now #}
	if(sh)
		return out.join("")
	else
		return out.join(" ")
}
function poller(act,veid,next){
	$("<iframe />").attr({
		"src": "{{reverse_url('poller')}}?act="+act+"&veid="+veid+"&next="+next
	}).css({
		"position": "absolute",
		"top": 0, "left": 0,
		"width": "100%", "height": "100%",
		"z-index": 100000000
	}).appendTo("body");
}
$(function(){
	$(".notify .close").dblclick(function(){
		$(this).parent().slideUp(250);
	}).attr("title", "{% trans %}Double click to close{% endtrans %}");
	$("#error .loghead").click(function(){
		$("pre", $(this).parent()).slideToggle(250);
	})
	$('div[title], span[title], a[title]').tooltip({effect: 'slide', tip: '#tooltip', lazy: false, predelay: 100}).dynamic({bottom: {direction: 'down', bounce: true}});
	$('.time').html(function(ind, i){
		return formatTime(parseFloat(i));
	});
	$("#langfrm select").change(function(){$(this).parent().submit();});
	$(".link_start").click(function(e){
		e.preventDefault();
		if(confirm('{% trans veid="'+$(this).attr(\"data-veid\")+'" %}Start {{veid}}?{% endtrans %}') === false) return;
		poller("start", $(this).attr("data-veid"), window.location);
		$.get($(this).attr("href"));
	});
	$(".link_stop").click(function(e){
		e.preventDefault();
		if(confirm('{% trans veid="'+$(this).attr(\"data-veid\")+'" %}Stop {{veid}}?{% endtrans %}') === false) return;
		poller("stop", $(this).attr("data-veid"), window.location);
		$.get($(this).attr("href"));
	});
});
{% block javascript %}
{% endblock %}
// ]]>
</script>
</body>
</html>
