{% extends "base.html" %}
{% block body %}
<div class="notify">
	{{unit|title}} is required to run a VM. When you run out of {{unit}} every virtual machines will be stopped.<br />
	If your {{unit}} is under 100 you can't start more VM. {{unit|title}} will decrease every minute.
</div>
<p>Click each VM's ID to view detailed cost. <u>All calculations are rounded up.</u></p>
<b>Rate:</b> {{config.get("billing", "credit")}} {{unit}} per {{config.get("billing", "creditPer")}} {{config.get("billing", "currency")}}
<table>
<thead>
	<tr><th>VEID</th><th>Cost ({{unit}})</th></tr>
</thead>
<tbody>
{% for i in vmcost %}
	<tr><td><a href="/vm/{{i[0]}}"><img src="{{static_url('info.png')}}" /> {{i[0]}}</a></td><td>{{i[1]}}</td></tr>
{% endfor %}
</tbody>
<tfooter>
	<tr><th>Total</th><td>{{totalcost}}</td></tr>
	<tr><th>Will deplete in</th><td class="time">{{((current_user.credit)/totalcost)*60}}</td></tr>
</tfooter>
</table>
{% endblock %}