{% extends "base.html" %}
{% block body %}
<div class="notify">
	{% trans unitC=unit|title %}{{unitC}} is required to run a VM. When you run out of {{unit}} every virtual machines will be stopped.{% endtrans %}<br />
	{% trans unitC=unit|title %}If your {{unit}} is under 100 you can't start more VM. {{unitC}} will decrease every minute.{% endtrans %}
</div>
<p>{% trans %}Click each VM's ID to view detailed cost.{% endtrans %} <u>{% trans %}All calculations are rounded up.{% endtrans %}</u></p>
<b>{% trans %}Rate:{% endtrans %}</b> {{config.get("billing", "credit")}} {{unit}} {% trans %}per{% endtrans %} {{config.get("billing", "creditPer")}} {{config.get("billing", "currency")}}
<table>
<thead>
	<tr><th>{% trans %}VEID{% endtrans %}</th><th>{% trans %}Cost ({{unit}}){% endtrans %}</th></tr>
</thead>
<tbody>
{% for i in vmcost %}
	<tr><td><a href="{{reverse_url('vminfo', i[0])}}"><img src="{{static_url('info.png')}}" /> {{i[0]}}</a>{% if i.burst %}<span title="{% trans burst=i.burst+1 %}This VM is in burst level {{burst}}{% endtrans %}"><img src="{{static_url('burst.png')}}" /></span>{% endif %}</td><td>{{i[1]}}</td></tr>
{% endfor %}
{% if cloud %}
{% set cloud = ((config.getint("cloudcp", "price")/config.getint("cloudcp", "pricePer"))*(cloud/1000))|round(0, 'ceil')|int %}
	<tr><td><a href="{{reverse_url('cloud')}}">Cloud Storage</a></td><td>{{cloud}}</td></tr>
{% endif %}
</tbody>
<tfooter>
	<tr><th>{% trans %}Total{% endtrans %}</th><td>{{totalcost+cloud}}</td></tr>
	{% if totalcost %}<tr><th>{% trans %}Will deplete in{% endtrans %}</th><td class="time">{{((current_user.credit)/totalcost)*60}}</td></tr>{% endif %}
</tfooter>
</table>
{% endblock %}