{% extends "base.html" %}
{% block body %}
<h1>{% trans %}Containers{% endtrans %} <a href="{{reverse_url('createvm')}}" title="{% trans %}Create new VM{% endtrans %}"><img src="{{static_url('addvm.png')}}" /></a></h1>
<table>
<thead>
<tr>
	<th>{% trans %}VEID{% endtrans %}</th><th>{% trans %}Hostname{% endtrans %}</th><th>{% trans %}IP{% endtrans %}</th>
	<th>{% trans %}OS Template{% endtrans %}</th><th>{% trans %}Owner{% endtrans %}</th><th>{% trans %}Action{% endtrans %}</th></tr>
</thead>
{% for i in container %}
<tr style="background-color: {% if i.vz.running %}lightgreen{%else%}pink{% endif %}">
	<td><a href="{{reverse_url('vminfo', i.veid)}}" title="{% trans veid=i.veid %}Click to show more information of {{veid}}{% endtrans %}"><img src="{{static_url('info.png')}}" /> {{i.veid}}</a>{% if i.burst %}<span title="{% trans burst=i.burst+1 %}This VM is in burst level {{burst}}{% endtrans %}"><img src="{{static_url('burst.png')}}" /></span>{% endif %}</td>
	<td>{{i.vz.hostname}}</td><td>{{i.vz.ip}}</td><td>{{i.vz.os|capitalize}}</td>
	{% if i.user != None %}<td>{% trans %}You{% endtrans %}</td>{% endif %}
<td{% if i.user == None %} colspan="2"{% endif %}>
{% if i.user == None %}
	<a href="{{reverse_url('claimvm', i.veid)}}?return={{reverse_url('containers')}}" title="{% trans veid=i.veid %}Add {{veid}} to your account. No other user can access this VM. You have to pay for this VM. This is <b>IRREVERSIBLE</b>{% endtrans %}">{% trans %}Claim{% endtrans %}</a>
{% else %}
	<a href="{{reverse_url('vmedit', i.veid)}}" title="{% trans veid=i.veid %}Edit {{veid}}{% endtrans %}"><img src="{{static_url('edit.png')}}" /></a>
{% if i.vz.running %}
	<a href="{{reverse_url('restartvm', i.veid)}}?return={{reverse_url('containers')}}&_xsrf={{xsrf}}" onclick="return confirm('{% trans veid=i.veid %}Restart {{veid}}?{% endtrans %}')" title="{% trans veid=i.veid %}Restart {{veid}}{% endtrans %}"><img src="{{static_url('restart.png')}}" /></a> 
	<a href="{{reverse_url('stopvm', i.veid)}}?return={{reverse_url('containers')}}&_xsrf={{xsrf}}" onclick="return confirm('{% trans veid=i.veid %}Stop {{veid}}?{% endtrans %}')" title="{% trans veid=i.veid %}Stop {{veid}}{% endtrans %}"><img src="{{static_url('poweroff.png')}}" /></a> 
{% else %}
	<a href="{{reverse_url('startvm', i.veid)}}?return={{reverse_url('containers')}}&_xsrf={{xsrf}}" onclick="return confirm('{% trans veid=i.veid %}Start {{veid}}?{% endtrans %}')" title="{% trans veid=i.veid %}Start {{veid}}{% endtrans %}"><img src="{{static_url('start.png')}}" /></a> 
	<a href="{{reverse_url('destroyvm', i.veid)}}?return={{reverse_url('containers')}}&_xsrf={{xsrf}}" onclick="return confirm('{% trans veid=i.veid %}Destroy {{veid}}?{% endtrans %}')"  title="{% trans veid=i.veid %}Destroy all data on {{veid}}. Note that there are no backup made and <b>IRREVERSIBLE</b>.{% endtrans %}"><img src="{{static_url('destroy.png')}}" /></a> 
{% endif %}
{% endif %}
</td></tr>
{% endfor %}
</table>
{% endblock %}
