{% extends "base.html" %}
{% block body %}
<h1>Containers</h1>
<table>
<thead>
<tr><th>VEID</th><th>Hostname</th><th>IP</th><th>OS</th><th>Action</th></tr>
</thead>
{% for i in container %}
<tr style="background-color: {% if i.running %}lightgreen{%else%}lightred{% endif %}"><td>{{i.veid}}</td><td>{{i.hostname}}</td><td>{{i.ip}}</td><td>{{i.os|capitalize}}</td><td>
{% if i.running %}
	<a href="/restart?veid={{i.veid}}" onclick="return confirm('Restart {{i.veid}}?')" title="Restart"><img src="/static/restart.png" /></a> 
	<a href="/stop?veid={{i.veid}}" onclick="return confirm('Stop {{i.veid}}?')" title="Stop"><img src="/static/poweroff.png" /></a> 
{% else %}
	<a href="/start?veid={{i.veid}}" onclick="return confirm('Start {{i.veid}}?')" title="Start"><img src="/static/start.png" /></a> 
	<a href=""><img src="/static/destroy.png" /></a> 
{% endif %}
</td></tr>
{% endfor %}
</table>
{% endblock %}
