{% extends "base.html" %}
{% block javascript %}
burst = {{config.get("billing", "memoryBurst")}}
memPrice = [{{config.get("billing", "memory")}}, {{config.get("billing", "memoryPer")}}]
diskPrice = [{{config.get("billing", "disk")}}, {{config.get("billing", "diskPer")}}]
hostnames = {{hostnames}}
function calcTotal(){
	mem = parseInt($("input[name=ram]").val())/1000000
	mem = Math.ceil(mem * (memPrice[0]/memPrice[1]))
	disk = parseInt($("input[name=disk]").val())/1000
	disk = Math.ceil(disk * (diskPrice[0]/diskPrice[1]))
	$("#totalmoney").html(disk + mem + {{config.get("billing", "perVM")}})
}
$(function(){
	$("#accordion").accordion({autoHeight: false});
	$("input[name=os]").change(function(){
		$("#os").html("1: "+$("label[for="+this.id+"]").text());
		$("h2 #ram").parent().show();
	});
	$("#ram-slider").slider({animate: true, max: 1000, min: 150, step: 25, slide: function(event, ui){
		price = Math.ceil(ui.value * (memPrice[0]/memPrice[1])) + " {{unit}}"
		$("#ram-amount").html(ui.value+" MB {% trans amt='"+Math.floor(ui.value+(ui.value*burst/100))+"' %}(burstable up to {{amt}} MB){% endtrans %}<br />"+price);
		$("input[name=ram]").val(ui.value*1000000);
		$("#ram").html("{% trans amt='"+ui.value+"' %}2: {{amt}} MB memory{% endtrans %}");
		$("h2 #disk").parent().show();
		calcTotal()
	}});
	$("#disk-slider").slider({animate: true, max: 50000, min: 1000, step: 500, slide: function(event, ui){
		price = Math.ceil(ui.value * (diskPrice[0]/diskPrice[1])) + " {{unit}}"
		$("#disk-amount").html((ui.value/1000)+" GB<br />"+price);
		$("input[name=disk]").val(ui.value*1000);
		$("#disk").html("{% trans amt='"+(ui.value/1000)+"' %}3: {{amt}} GB disk{% endtrans %}");
		$("h2 #final").parent().show();
		calcTotal()
	}});
	$("input[name=hostname]").keyup(function(){
		if(this.value == "" || hostnames.indexOf(this.value) != -1){
			$(this).css("backgroundColor", "red");
			$(this).css("color", "white");
			$("#createp").hide()
		}else{
			$(this).css("backgroundColor", "white");
			$(this).css("color", "black");
			$("#createp").show()
		}
	});
	$("input[name=root], input[name=root2]").keyup(function(){
		if($("input[name=root]").val() != $("input[name=root2]").val()){
			$("input[name=root], input[name=root2]").css({backgroundColor: "red", color: "white"})
		}else{
			$("input[name=root], input[name=root2]").css({backgroundColor: "white", color: "black"})
		}
	})
	$("#tos").change(function(){
		$("input[type=submit]").attr("disabled", !this.value)
	})
	$("input[type=submit]").button();
	$("form").submit(function(){
		$("input[type=submit]").attr("disabled", true)
	})
});
{% endblock %}
{% block body %}
<h1>{% trans %}Create VM{% endtrans %}</h1>
<form action="/create" method="post">
{{ xsrf_form_html() }}
<div id="accordion">
<h2><a href="#" id="os">{% trans %}1: Pick your OS{% endtrans %}</a></h2>
<div class="block">
	<ul style="list-style: none; padding-left: 0;">
	{% for i in templates %}
		<li class="os">
			<div><input type='radio' name='os' value='{{i}}' id="temp_{{i}}" /><label for="temp_{{i}}">{{i|capitalize}}</label></div>
			{% include "template_desc/"+i+".html" ignore missing %}
		</li>
	{% endfor %}
	</ul>
</div>
<h2 style="display: none"><a href="#" id="ram">{% trans %}2: How much memory{% endtrans %}</a></h2>
<div class="block">
	<div id="ram-slider" style="margin: 10px;"></div>
	<div class="tipbox" style="float: right;">
		{% trans %}<b>TIP:</b> Optimum memory{% endtrans %}
		<table>
			<thead>
				<tr><th>{% trans %}Kind{% endtrans %}</th><th>{% trans %}Memory{% endtrans %}</th></tr>
			</thead>
			<tbody>
				<tr><td>{% trans %}Static website (Plain HTML){% endtrans %}</td><td>150 MB</td></tr>
				<tr><td>{% trans %}Weblog{% endtrans %}</td><td>600 MB</td></tr>
				<tr><td>{% trans %}Crowded forum{% endtrans %}</td><td>1000 MB</td></tr>
			</tbody>
		</table>
	</div>
	<b id="ram-amount">{% trans %}Slide the slider to change.{% endtrans %}<br />{% trans burst=config.get("billing", "memoryBurst") %}Minimum is 150MB, maximum is 1000MB<br />Burstable up to {{burst}}%{% endtrans %}</b><br />
	{{config.get("billing", "memory")}} {{unit}} {% trans %}per{% endtrans %} {{config.get("billing", "memoryPer")}} MB
	<input type="hidden" name="ram" value="150" />
</div>
<h2 style="display: none"><a href="#" id="disk">{% trans %}3: How many disk space{% endtrans %}</a></h2>
<div class="block">
	<div id="disk-slider" style="margin: 10px;"></div>
	<div class="tipbox" style="float: right;">
		{% trans %}<b>TIP:</b> Optimum disk space{% endtrans %}
		<table>
			<thead>
				<tr><th>{% trans %}Kind{% endtrans %}</th><th>{% trans %}Space{% endtrans %}</th></tr>
			</thead>
			<tbody>
				<tr><td>{% trans %}Static website (Plain HTML){% endtrans %}</td><td>1 GB</td></tr>
				<tr><td>{% trans %}Weblog{% endtrans %}</td><td>5 GB</td></tr>
				<tr><td>{% trans %}Crowded forum{% endtrans %}</td><td>10 GB</td></tr>
			</tbody>
		</table>
	</div>
	<b id="disk-amount">{% trans %}Slide the slider to change.{% endtrans %}<br />{% trans %}Minimum is 1GB, maximum is 50GB{% endtrans %}</b><br />
	{{config.get("billing", "disk")}} {{unit}} {% trans %}per{% endtrans %} {{config.get("billing", "diskPer")}} MB
	<input type="hidden" name="disk" value="2048" />
</div>
<h2 style="display: none"><a href="#" id="final">{% trans %}4: Final steps{% endtrans %}</a></h2>
<div class="block">
	<div class="notify" style="color: black;">{% trans %}Hostname is the name of your machine. This must be unique but have no impact on your machine.{% endtrans %}</div>
	<div>{% trans %}Hostname{% endtrans %}: <input type="text" name="hostname" /></div>
	<div class="notify" style="color: black;">{% trans %}Root is the adminstrator of the system. Root's password is key to the entire system so please use a secure password.<br />
	Note that to ssh into the machine, you need to add port 22 forwarding afterward{% endtrans %}
	</div>
	<div>
		{% trans %}Root password{% endtrans %}: <input type="password" name="root" /><br />
		{% trans %}Confirm Root password{% endtrans %}: <input type="password" name="root2" />
	</div>
	<p>
		{% trans cost='<b id="totalmoney"></b>', perVM=config.get("billing", "perVM") %}This virtual machine will consume {{cost}} {{unit}} per minute. (incl. per VM cost of {{perVM}} {{unit}}){% endtrans %}
	</p>
	<div id="createp" style="display: none;">
		<p><input type='checkbox' name="tos" id="tos"> <label for="tos">{% trans %}I accept the terms of services{% endtrans %}</label></p>
		<p><b>{% trans create='<input type="submit" value="'+_('Create')+'" disabled />' %}Check every setting before click on {{create}}{% endtrans %}</b></p>
		<p>{% trans %}After click "Create", it takes while to create the VM.{% endtrans %}</p>
	</div>
</div>
</form>
</div>
{% endblock %}