{% extends "base.html" %}
{% block javascript %}
var VMgraphdata={};
var timeCount = 0;
function updateVMload(){
	$.post("{{reverse_url('dashboard')}}", {data: "vmload"}, function(d){
		d=JSON.parse(d)
		d=d[0]
		hostlist = [];
		for (var i in d) {
			if(!VMgraphdata[i]) VMgraphdata[i] = []
			VMgraphdata[i].push([new Date().getTime(), d[i]]);
			if(VMgraphdata[i].length > 25) VMgraphdata[i].shift()
			hostlist.push({data: VMgraphdata[i], label: i});
		}
		$.plot($("#graph-vmload"), hostlist, {
			xaxis: {mode: "time", minTickSize: [30, "second"]},
			yaxis: {min: 0},
			legend: {container: $("#vmload-legend"), noColumns: 5, labelFormatter: function(label, series) {
				return '<b>'+label+'</b> ('+series.data[series.data.length-1][1]+')';
			}},
		});
		setTimeout(updateVMload, 5000);
	});
}
function updateTime(){
	/*/
	timeCount += 1
	$('.time').html(function(ind, i){
		t = $(this).data("time");
		if(!t){
			t=parseFloat(i);
			$(this).data("time", t);
		}
		return formatTime(t-timeCount);
	});
	/**/
	$("#nextcron").html(formatTime(59-new Date().getSeconds()));
	setTimeout(updateTime, 1000);
}
$(function() {
	$(".portlet").addClass("ui-widget ui-widget-content ui-helper-clearfix ui-corner-all")
		.find(".portlet-header")
			.addClass("ui-widget-header ui-corner-all")
			.prepend('<span class="ui-icon ui-icon-minusthick"></span>')
			.end()
		.find(".portlet-content");
	$(".portlet-header .ui-icon").click(function() {
		$(this).toggleClass("ui-icon-minusthick").toggleClass("ui-icon-plusthick");
		$(this).parents(".portlet:first").find(".portlet-content").slideToggle();
	});
	$(".column").disableSelection();
	updateVMload();
	updateTime();
});
{% endblock %}
{% block body %}
<script type="text/javascript" src="{{static_url('flot.js')}}"></script>
<!--[if IE]><script type="text/javascript" src="{{static_url('excanvas.js')}}"></script><![endif]-->
<style type="text/css">
.column { width: 50%; float: left; padding-bottom: 100px; }
.portlet { margin: 0 1em 1em 0; }
.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 0.4em; }
.portlet-content table{color: black;}
#graph-vmload{width: 98%; height: 300px; background: white; padding: 5px;}
#vmload-legend{background: white;}
</style>
<div class="column">
	<div class="portlet">
		<div class="portlet-header">{% trans %}VM List{% endtrans %} <a href="{{reverse_url('createvm')}}" title="{% trans %}Create new VM{% endtrans %}"><img src="{{static_url('addvm.png')}}" /></a></div>
		<div class="portlet-content">
			<table>
				<tr><th>{% trans %}VEID{% endtrans %}</th><th>{% trans %}Hostname{% endtrans %}</th><th>{% trans %}IP{% endtrans %}</th><th>{% trans %}Action{% endtrans %}</th></tr>
				{% for i in container %}
				<tr style="background-color: {% if i.vz.running %}lightgreen{%else%}pink{% endif %}">
				<td><a href="{{reverse_url('vminfo', i.veid)}}" title="{% trans veid=i.veid %}Click to show more information of {{veid}}{% endtrans %}"><img src="{{static_url('info.png')}}" /> {{i.veid}}</a></td>
				<td>{{i.vz.hostname}}</td><td>{{i.vz.ip}}</td>
				<td>
					<a href="{{reverse_url('vmedit', i.veid)}}" title="{% trans veid=i.veid %}Edit {{veid}}{% endtrans %}"><img src="{{static_url('edit.png')}}" /></a>
				{% if i.vz.running %}
					<a href="{{reverse_url('restartvm', i.veid)}}?return={{reverse_url('dashboard')}}&_xsrf={{xsrf}}" onclick="return confirm('{% trans veid=i.veid %}Restart {{veid}}?{% endtrans %}')" title="{% trans veid=i.veid %}Restart {{veid}}{% endtrans %}"><img src="/static/restart.png" /></a> 
					<a href="{{reverse_url('stopvm', i.veid)}}?return={{reverse_url('dashboard')}}&_xsrf={{xsrf}}" onclick="return confirm('{% trans veid=i.veid %}Stop {{veid}}?{% endtrans %}')" title="{% trans veid=i.veid %}Stop {{veid}}{% endtrans %}"><img src="/static/poweroff.png" /></a> 
				{% else %}
					<a href="{{reverse_url('startvm', i.veid)}}?return={{reverse_url('dashboard')}}&_xsrf={{xsrf}}" onclick="return confirm('{% trans veid=i.veid %}Start {{veid}}?{% endtrans %}')" title="{% trans veid=i.veid %}Start {{veid}}{% endtrans %}"><img src="/static/start.png" /></a> 
					<a href="{{reverse_url('destroyvm', i.veid)}}?return={{reverse_url('dashboard')}}&_xsrf={{xsrf}}" onclick="return confirm('{% trans veid=i.veid %}Destroy {{veid}}?{% endtrans %}')" title="{% trans veid=i.veid %}Destroy all data on {{veid}}. Note that there are no backup made and <b>IRREVERSIBLE</b>.{% endtrans %}"><img src="/static/destroy.png" /></a> 
				{% endif %}
				</td></tr>
				{% endfor %}
			</table>
		</div>
	</div>
	<div class="portlet">
		<div class="portlet-header">{% trans %}Billing{% endtrans %}</div>
		<div class="portlet-content">
			<b>{% trans %}Total VM running cost{% endtrans %}:</b> {{billing}} {{unit}}<br />
			{% if totalcost %}<b>{% trans %}Deplete in{% endtrans %}:</b> <span class="time">{{((current_user.credit)/totalcost)*60}}</span><br />{% endif %}
			<b>{% trans %}Next cron run in{% endtrans %}:</b> <span id="nextcron"></span>
		</div>
	</div>
</div>
<div class="column">
	<div class="portlet">
		<div class="portlet-header">{% trans %}VM load (5 minutes){% endtrans %}</div>
		<div class="portlet-content"><div id="vmload-legend"></div><div id="graph-vmload"></div></div>
	</div>
</div>
{% endblock %}
