{% extends "base.html" %}
{% block javascript %}
{% if vm.user == current_user %}
function editroot(){
	window.location.hash = "rootedit"
	$("#rootedit").dialog({modal: true, title: "Root password", width: "50%", height: 200, close: function(x,y){
		window.location.hash = ""
		window.location.reload()
	}});
}
{% if config.getboolean("varnish", "enabled") %}
function editweb(){
	window.location.hash = "webedit"
	$("#webedit").dialog({modal: true, title: "Web forward", width: "75%", height: 400, close: function(x,y){
		window.location.hash = ""
		window.location.reload()
	}});
}
{% endif %}
{% if config.getboolean("iface", "enabled") %}
function editport(){
	window.location.hash = "portedit"
	$("#portedit").dialog({modal: true, title: "Port forward", width: "75%", height: 400, close: function(x,y){
		window.location.hash = ""
		window.location.reload()
	}});
}
function restartVarnish(){
	if(!confirm("Restart reverse proxy?")) return;
	$("#varnishRestartButton").attr("disabled", true);
	$.get("/varnishRestart", {"_xsrf": "{{xsrf}}", veid: "{{veid}}", state: 0}, function(d){
		if(d){ alert(d); return; }
		$.get("/varnishRestart", {"_xsrf": "{{xsrf}}", state: 1}, function(){
			alert("The reverse proxy is being restarted. Please be patience, every sites may not be accesible for few seconds.");
		})
	});
}
{% endif %}
$(function(){
	{% if config.getboolean("varnish", "enabled") %}
	if(window.location.hash == "#webedit"){
		editweb();
	}
	{% endif %}
	{% if config.getboolean("iface", "enabled") %}
	if(window.location.hash == "#portedit"){
		editport();
	}
	{% endif %}
	if(window.location.hash == "#rootedit"){
		editroot();
	}
	$("#rootedit input[name=root], #rootedit input[name=root2]").keyup(function(){
		if($("#rootedit input[name=root]").val() != $("#rootedit input[name=root2]").val()){
			$("#rootedit input[type=submit]").attr("disabled", true)
		}else{
			$("#rootedit input[type=submit]").attr("disabled", false)
		}
	})
	$("#toolbar button").button()
});
{% endif %}
{% endblock %}
{% block body %}
<div id="bighead">{{vz.hostname}} ({{veid}})</div>
<div id="subhead">{% if vz.running %}Running{% else %}Stopped{% endif %}</div>
{% if vm.user == current_user %}
<span id="toolbar">
{% if vz.running %}
	<a href="/vm/{{veid}}/restart?_xsrf={{xsrf}}" onclick="return confirm('Restart {{vz.veid}}?')"><button><img src="{{static_url('restart.png')}}" / > Restart</button></a>
	<a href="/vm/{{veid}}/stop?_xsrf={{xsrf}}" onclick="return confirm('Stop {{vz.veid}}?')"><button><img src="{{static_url('poweroff.png')}}" /> Stop</button></a>
{% else %}
	<a href="/vm/{{veid}}/start?_xsrf={{xsrf}}" onclick="return confirm('Start {{vz.veid}}?')"><button><img src="{{static_url('start.png')}}" /> Start</button></a>
	<a href="/vm/{{veid}}/destroy?_xsrf={{xsrf}}" onclick="return confirm('Destroy {{veid}}?')" title="Destroy all data on {{veid}}. Note that there are no backup made and <b>IRREVERSIBLE</b>."><button><img src="{{static_url('destroy.png')}}" /> Destroy</button></a>
{% endif %}
	<a href="/vm/{{veid}}/edit"><button><img src="{{static_url('edit.png')}}" /> Edit</button></a>
{% if config.getboolean("varnish", "enabled") %}
	<a href="#" onclick="editweb(); return false" title="Forward HTTP application port to port 80 on specified hostname."><button>Web forward</button></a>
{% endif %}
{% if config.getboolean("iface", "enabled") %}
	<a href="#" onclick="editport(); return false" title="Forward port on an interface"><button>Port forward</button></a>
{% endif %}
	<a href="#" onclick="editroot(); return false" title="Change root password"><button>Root password</button></a>
</span>
{% endif %}
<h1>Billing</h1>
<div class="notify">To calculate credit depletion time for every VM, see <a href="/billing">billing</a>. <u>All calculations are rounded up.</u></div>
<table>
<thead>
	<tr><th>Kind</th><th>Cost ({{unit}})</th></tr>
</thead>
<tbody>
	<tr><td><div title="Every VM created must paid this amount.">Per VM</div></td><td>{{billing['perVM']}}</td></tr>
	<tr><td><div title="{{config.get("billing", "memory")}} {{unit}} per {{config.get("billing", "memoryPer")}} MB">Memory</div></td><td>{{billing['memory']}}</td></tr>
	<tr><td><div title="{{config.get("billing", "disk")}} {{unit}} per {{config.get("billing", "diskPer")}} MB">Disk</div></td><td>{{billing['disk']}}</td></tr>
	<tr><th>Total</th><td>{{billing['total']}}</td></tr>
	<tr><th>Credit will run out in <small>(when no other VM are running)</small></th><td class="time">{{billing['time']}}</td></tr>
</tbody>
</table>
<h1>Information</h1>
<table>
<thead>
	<tr><th>Key</th><th>Value</th></tr>
</thead>
<tbody>
	<tr><td><div title="Internal IP of this VM. Every other VM running in the same machine can access this IP so you have to keep ports secure.">IP</div></td><td>{{vz.ip}}</td></tr>
	<tr><td><div title="OS template used to create this VM">OS</div></td><td>{{vz.os|capitalize}}</td></tr>
	<tr><td><div title="How many space your VM can use. Note that you might able to exceed this capacity temporary.">Disk Capacity</div></td><td>{{(vz.diskinfo[0]*1000)|filesizeformat}}</td></tr>
{% if vz.running %}
	<tr><td><div title="How long does this VM have been started">Uptime</div></td><td><div class="time">{{vz.uptime}}</div></td></tr>
	<tr><td>Load average</td><td><span title="5 minute">{{vz.loadAvg[0]}}</span> <span title="10 minute">{{vz.loadAvg[1]}}</span> <span title="15 minute">{{vz.loadAvg[2]}}</span></td></tr>
	<tr><td><div title="The more process, the slower your machine">Process count</div></td><td>{{vz.nproc}}</td></tr>
{% endif %}
	<tr><th colspan="2">Memory</th></tr>
	<tr><td><div title="How much memory your application may use. If it's full you might still able to run it in burstable memory.">Guaranteed</div></td><td>{{vz.memlimit[0]|filesizeformat}}</td></tr>
	<tr><td><div title="Maximum limit. You application may use these memory but if other VM that haven't reach its guaranteed memory need more memory, your application will be terminated.">Burstable</div></td><td>{{vz.memlimit[1]|filesizeformat}}</td></tr>
</tbody>
</table>
<h1>Graph</h1>
{% if vz.running %}
{% set memused=vz.meminfo['MemTotal']-vz.meminfo['MemFree'] %}
{% if memused < vz.memlimit[0] %}
<img src="http://chart.apis.google.com/chart?cht=p3&amp;chs=500x200&amp;chtt=Memory usage for {{veid}} ({{vz.meminfo['MemTotal']|filesizeformat}})&amp;chl=Used {{memused|filesizeformat}}|Free {{vz.meminfo['MemFree']|filesizeformat}}&amp;chd=t:{{memused}},{{vz.meminfo['MemFree']}}&amp;chds=0,{{vz.meminfo['MemTotal']}}" />
{% else %}
<img src="http://chart.apis.google.com/chart?cht=p3&amp;chs=500x200&amp;chtt=Memory usage for {{veid}} ({{vz.meminfo['MemTotal']|filesizeformat}})&amp;chl=Guaranteed Used {{vz.memlimit[0]|filesizeformat}}|Burst {{(memused-vz.memlimit[0])|filesizeformat}}|Free {{vz.meminfo['MemFree']|filesizeformat}}&amp;chd=t:{{vz.memlimit[0]}},{{memused-vz.memlimit[0]}},{{vz.meminfo['MemFree']}}&amp;chds=0,{{vz.meminfo['MemTotal']}}" />
{% endif %}
{% endif %}
<img src="http://chart.apis.google.com/chart?cht=p3&amp;chs=500x200&amp;chtt=Disk usage for {{veid}} ({{(vz.diskinfo[0]*1000)|filesizeformat}})&amp;chl=Used {{(vz.diskinfo[1]*1000)|filesizeformat}}|Free {{(vz.diskinfo[2]*1000)|filesizeformat}}&amp;chd=t:{{vz.diskinfo[1]}},{{vz.diskinfo[2]}}&amp;chds=0,{{vz.diskinfo[0]}}" />
{% if config.getboolean("varnish", "enabled") %}
<div id="webedit" style="display: none;">
Wildcard forwarding will forward anything.yourdomain.com to yourdomain.com.<br />
After edit changes will <b>NOT</b> be visible until you click <button onclick="restartVarnish()" id="varnishRestartButton">restart proxy</button>. (Every site, including this may not be accessible for few seconds)
Note that you can restart the proxy once only five minutes.
<form style="margin-top: 10px;" action="/vm/{{veid}}/addweb" method="post">
{{ xsrf_form_html() }}
<table>
<thead>
	<tr><th>Domain</th><th>Port</th><th>Wildcard</th><th>Action</th></tr>
</thead>
<tbody>
{% for i in vm.varnishBackend %}
{% for i2 in i.cond %}
	<tr><td><a href='http://{{i2.hostname}}'>{{i2.hostname}}</a></td><td>{{i.port}}</td><td><img src='{{static_url((i2.subdomain|lower)+".png")}}' /></td>
	<td><a href="/addweb?delete={{i2.id}}&_xsrf={{xsrf}}" title="Delete" onclick="return confirm('Delete {{i2.hostname}}?')"><img src="{{static_url('delete.png')}}" /></a></td></tr>
{% endfor %}
{% endfor %}
</tbody>
<tfooter>
	<tr>
		<th><input type="text" name="host" /></th>
		<th><input type="text" name="port" /></th>
		<th><input type="checkbox" name="subdomain" checked="checked" /></th>
		<th><input type="submit" value="Save" /></th>
	</tr>
</tfooter>
</table>
</form>
</div>
{% endif %}
{% if config.getboolean("iface", "enabled") %}
<div id="portedit" style="display: none;">
<form style="margin-top: 10px;" action="/vm/{{veid}}/addport" method="post">
{{ xsrf_form_html() }}
<table>
<thead>
	<tr><th>Interface</th><th>Port</th><th>External Port</th><th>Action</th></tr>
</thead>
<tbody>
{% for i in vm.portForward %}
	<tr><td>{{i.iface}} ({{interface[i.iface]}})</td><td>{{i.port}}</td><td>{{i.outport}}</td>
	<td><a href="/addport?delete={{i.id}}&_xsrf={{xsrf}}" title="Delete this item" onclick="return confirm('Delete {{i.iface}} {{i.port}}-{{i.outport}}?');"><img src="{{static_url('delete.png')}}" /></a></td></tr>
{% endfor %}
</tbody>
<tfooter>
	<tr>
		<th><select name="iface">
		{% for i in interface.items() %}
			<option value="{{i[0]}}">{{i[0]}} ({{i[1]}})</option>
		{% endfor %}
		</select></th>
		<th><input type="text" name="port" /></th>
		<th><input type="text" name="outport" /></th>
		<th><input type="submit" value="Save" /></th>
	</tr>
</tfooter>
</table>
</form>
</div>
<div id="rootedit" style="display: none;">
<form style="margin-top: 10px;" action="/vm/{{veid}}/root" method="post">
{{ xsrf_form_html() }}
<b>New Root password:</b> <input type="password" name="root" /><br />
<b>Confirm Root password:</b> <input type="password" name="root2" />
<p><input type="submit" value="Save" /></p>
</form>
</div>
{% endif %}
{% endblock %}