{% extends "base.html" %}
{% block body %}
<div id="bighead">{{vm.hostname}} ({{veid}})</div>
<div id="subhead">{% if vm.running %}Running{% else %}Stopped{% endif %}</div>
{% if vm.running %}
<a href="/restart?veid={{vm.veid}}" onclick="return confirm('Restart {{vm.veid}}?')" title="Restart {{vm.veid}}"><img src="/static/restart.png" /></a> 
<a href="/stop?veid={{vm.veid}}" onclick="return confirm('Stop {{vm.veid}}?')" title="Stop {{vm.veid}}"><img src="/static/poweroff.png" /></a> 
{% else %}
<a href="/start?veid={{vm.veid}}" onclick="return confirm('Start {{vm.veid}}?')" title="Start {{vm.veid}}"><img src="/static/start.png" /></a> 
<a href="" title="Destroy all data on {{vm.veid}}. Note that there are no backup made and <b>IRREVERSIBLE</b>."><img src="/static/destroy.png" /></a> 
{% endif %}
<h1>Billing</h1>
<p>(All calculations are rounded up)</p>
<table>
<thead>
	<tr><th>Kind</th><th>Price ({{unit}})</th></tr>
</thead>
<tbody>
	<tr><td><div title="Every VM created must paid this amount.">Per VM</div></td><td>{{billing['perVM']}}</td></tr>
	<tr><td><div title="{{config.get("billing", "memory")}} {{unit}} per {{config.get("billing", "memoryPer")}} MB">Memory</div></td><td>{{billing['memory']}}</td></tr>
	<tr><td><div title="{{config.get("billing", "disk")}} {{unit}} per {{config.get("billing", "diskPer")}} MB">Disk</div></td><td>{{billing['disk']}}</td></tr>
	<tr><th>Total</th><td>{{billing['total']}}</td></tr>
</tbody>
</table>
<h1>Data</h1>
<table>
<thead>
	<tr><th>Data</th><th>Value</th></tr>
</thead>
<tbody>
	<tr><td><div title="Internal IP of this VM. Every other VM running in the same machine can access this IP so you have to keep ports secure.">IP</div></td><td>{{vm.ip}}</td></tr>
	<tr><td><div title="OS template used to create this VM">OS</div></td><td>{{vm.os|capitalize}}</td></tr>
	<tr><td><div title="How many space your VM can use. Note that you might able to exceed this capacity temporary.">Disk Capacity</div></td><td>{{vm.diskinfo[0]|filesizeformat}}</td></tr>
{% if vm.running %}
	<tr><td><div title="How long does this VM have been started">Uptime</div></td><td><div class="time">{{vm.uptime}}</div></td></tr>
	<tr><td>Load average</td><td><span title="5 minute">{{vm.loadAvg[0]}}</span> <span title="10 minute">{{vm.loadAvg[1]}}</span> <span title="15 minute">{{vm.loadAvg[2]}}</span></td></tr>
	<tr><td><div title="The more process, the slower your machine">Process count</div></td><td>{{vm.nproc}}</td></tr>
{% endif %}
	<tr><th colspan="2">Memory</th></tr>
	<tr><td><div title="Guaranteed memory limit how much memory your application may use. If it's full you might still able to run it in burstable memory.">Guaranteed</div></td><td>{{vm.memlimit[0]|filesizeformat}}</td></tr>
	<tr><td><div title="Burstable memory is maximum limit. You application may use these memory but if other VM that haven't reach its guaranteed memory need to use memory, your application will be terminated.">Burstable</div></td><td>{{vm.memlimit[1]|filesizeformat}}</td></tr>
</tbody>
</table>
{% if vm.running %}
<h1>Graph</h1>
{% set memused=vm.meminfo['MemTotal']-vm.meminfo['MemFree'] %}
<img src="http://chart.apis.google.com/chart?cht=p3&amp;chs=500x200&amp;chtt=Memory usage for {{veid}} ({{vm.meminfo['MemTotal']|filesizeformat}})&amp;chl=Used {{memused|filesizeformat}}|Free {{vm.meminfo['MemFree']|filesizeformat}}&amp;chd=t:{{memused}},{{vm.meminfo['MemFree']}}&amp;chds=0,{{vm.meminfo['MemTotal']}}" />
<img src="http://chart.apis.google.com/chart?cht=p3&amp;chs=500x200&amp;chtt=Disk usage for {{veid}} ({{vm.diskinfo[0]|filesizeformat}})&amp;chl=Used {{vm.diskinfo[1]|filesizeformat}}|Free {{vm.diskinfo[2]|filesizeformat}}&amp;chd=t:{{vm.diskinfo[1]}},{{vm.diskinfo[2]}}&amp;chds=0,{{vm.diskinfo[0]}}" />
{% endif %}
{% endblock %}
