<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" value="text/html; charset=utf-8">
	<title>OvzCP | {{current_user}}</title>
	<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<style type="text/css" media="screen">
	@import url({{static_url("iui/iuix.css")}});
	@import url({{static_url("iui/t/defaultgrad/defaultgrad-theme.css")}});
	</style>
	<script src="{{static_url('iui/iuix.js')}}" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
	iui.animOn = true;
	strings = {};
	strings['relogin'] = "{% trans %}To switch account, please logout from your account at google.com before click this link.\nOtherwise, you will be returned to this page.\n\nDo you want to continue?{% endtrans %}";
	function ask(str){
		return confirm(strings[str]);
	}
	</script>
	<style type="text/css">
li small{float: right; margin-right: 10px; font-size: 100%; font-weight: normal;}
.panel small{
	position: absolute;
	top: 6px;
	right: 6px;
	width: 100px;
	height: 28px;
	font-size: 120%;
}
	</style>
</head>
{% set unit=config.get("billing", "unit").decode("utf-8")%}
<body>
<div class="toolbar">
	<h1 id="pageTitle"></h1>
	<a id="backButton" class="button" href="#"></a>
</div>
<ul id="home" title="OvzCP" selected="true">
	<li><a href="{{reverse_url('auth')}}" onclick="return ask('relogin')" target="_self">Logged in as {{current_user}}</a></li>
	<li>Total VM cost <small>{{billing}} {{unit}}</small></li>
	<li>{{unit|capitalize}} left <small>{{current_user.credit|int}}</small></li>
	<li class="group">VM</li>
	{% for i in container %}
	<li style="background: {% if i.vz.running %}#cfc{% else %}#faa{% endif %};"><a href="/vm/{{i.veid}}">{{i.vz.hostname}} <small>{{i.veid}}</small></a></li>
	{% endfor %}
</ul>
</body>
</html>