{% extends "base.html" %}
{% block body %}
<div data-role="header">
	<h1>OvzCP</h1>
</div>
<div data-role="content"> 
	<ul data-role="listview" data-inset="true" data-theme="d">
		<li data-role="list-divider">Info</li> 
		<li>{% trans %}Total VM cost{% endtrans %} <span class="ui-li-count">{% trans billing=billing, unit=uint %}{{billing}} {{unit}}{% endtrans %}</span></li> 
		<li>{% trans unit=unit|capitalize %}{{unit}} left{% endtrans %} <span class="ui-li-count">{{current_user.credit|int}}</span></li> 
	</ul>
	<ul data-role="listview" data-filter="true"> 
		<li data-role="list-divider">{% trans %}VM{% endtrans %}</li> 
		{%- for i in container %}
		<li style="background: {% if i.vz.running %}#afa{% else %}#faa{% endif %};"><a href="/vm/{{i.veid}}" rel="external">{{i.vz.hostname}}</a><span class="ui-li-aside">{{i.veid}}</span></li>
		{%- endfor %}
	</ul>
</div>
<div data-role="footer" class="ui-bar">
	{% trans current_user=current_user %}Logged in as {{current_user}}{% endtrans %}
	<a href="https://www.google.com/accounts/Logout?continue={{auth_url}}&service=ah" data-role="button" data-icon="delete">{% trans %}Logout{% endtrans %}</a>
</div>
{% endblock %}