<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" value="text/html; charset=utf-8">
	<title>OvzCP | {{current_user}}</title>
	 <link rel="stylesheet" href="{{static_url("sencha/resources/css/ext-touch.css")}}" type="text/css">
	 <link rel="stylesheet" href="{{static_url("sencha/style.css")}}" type="text/css">
	 <script type="text/javascript" src="{{static_url("sencha/ext-touch.js")}}"></script>
	 <script type="text/javascript" src="{{static_url("sencha/index.js")}}"></script>
	 <script type="text/javascript" src="{{static_url("sencha/vm.js")}}"></script>
	 <script type="text/javascript" src="{{static_url("sencha/structure.js")}}"></script>
</head>
<body>
<ul style="display: none;" id="vmList">
{% for i in container %}
<li>{"name": "{{i.vz.hostname}}", "veid": {{i.veid}}}</li>
{% endfor %}
</ul>
</body>
</html>