@import url(reset.css);
@import url(ui-dark.css);
body{
	font-family: tahoma, sans-serif; min-height: 100%;
	background: #222;
	line-height: 1.4em;
}
a{
	color:inherit; text-decoration: none;
}
a:hover{font-weight: bold;}
#container{
	width: 100%; min-height: 500px;
	background: url(endmenubg.png) #161616 bottom left repeat-x;
}
#top-bar{
	width: 100%;
	height: 70px;
	background: #161616;
	color: white;
}
#top-bar #logo a{
	font-size: 20pt;
	float: left;
	font-weight: bold;
	font-family: "Segoe UI", Sawasdee;
	text-shadow: red 0px 0px 10px;
}
#top-bar #logo a:hover{
	text-shadow: red 0px 0px 20px;
}
#top-bar #version{
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	color: #aaa;
}
#top-bar-in{
	padding: 10px;
}
#left-bar{
	width: 15%;
	color: white;
	float: left;
	min-height: 100%;
}
#left-bar ul li a{
	display: block;
	padding: 10px;
}
#left-bar ul li:hover a{
	font-weight: bold;
	background: url(selected.png);
}
#user{float: right; margin-top: 2px; text-align: right;}
#body{
	padding: 10px;
	width: 83%;
	background: 6e6e6e;
	background: -moz-linear-gradient(center bottom, rgb(51,51,51) 0%, rgb(112,111,111) 50%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #333), color-stop(0.5, rgb(111,111,111)));
	color: white;
	float: right;
	-webkit-box-shadow: black 0px 0px 10px;
	-moz-box-shadow: black 0px 0px 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-bottom: white solid 1px;
	border-top: #101010 solid 1px;
}
#body table{color: black; background: white;}
#bottom{
	color: white; margin-top: 50px; font-size: 10pt;
	padding-left: 10px;
	text-align: center;
	margin-bottom: 30px;
}
.notify{
	width: 95%;
	padding: 10px;
	margin-bottom: 10px;
	background: rgb(255, 255, 100);
	color: black;
	border: yellow solid 2px;
}
.notify .close{
	float: right;
	padding: 5px;
	margin-top: -10px;
	cursor: pointer;
}
#error{
	background: rgb(255, 100, 100);
	color: black;
	border: maroon solid 2px;
}
#error>pre{
	font-size: 150%;
}
#error pre{
	font-size: 75%;
	border-left: rgb(255, 0, 0) solid 2px;
	background: white;
	padding: 10px;
	height: 150px;
	overflow: auto;
}
#error .loghead{
	margin-top: 10px;
	background: rgb(255,255,100);
	padding: 5px;
	font-size: 50%;
	border-top: rgb(255, 80, 80) solid 2px;
	border-left: rgb(255, 0, 0) solid 2px;
	cursor: pointer;
}
#bighead{
	font-size: 18pt;
}
#subhead{
	font-size: 15pt;
	margin-bottom: 10px;
	color: #ccc;
}
table{
	width: 100%;
}
th{
	background: #eee;
}
td,th{
	border: black solid 1px;
	padding: 3px;
}
h1{
	font-size: 15pt;
	margin-bottom: 10px;
	margin-top: 10px;
}
.block h2{
	font-size: 14pt;
	margin-bottom: 5px;
}
.block table{
	background: white;
	margin-top: 5px;
	width: 400px;
}
.block li p{
	margin-left: 22px;
	color: gray;
}
.block .tipbox{
	background: yellow;
	padding: 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: black;
	margin-top: 10px;
}
.block table{
	color: black;
	width: 100%;
}
#body ul{
	list-style: circle;
	padding-left: 25px;
}
li.os{
	border: #bbb solid 2px;
	padding: 5px;
	background: white;
	color: black;
	margin-bottom: 10px;
}
li.os label{
	text-shadow: #aaa 0px 1px 3px;
}
#accordion .block{
	height: 400px;
}
.ui-widget-content{
	font-size: 12pt;
}
.ui-dialog table{
	color: black;
	background: white;
}
.ui-dialog table a, .portlet-content table a{
	color: black !important;
}
#tooltip {
	display: none;
	background: transparent url(tips.png);
	font-size: 13px;
	line-height: 1.1em;
	width:179px;
	height: 79px;
	padding: 15px;
	color: white;
}
