<div style="background: #aaccff; padding: 10px; margin-top: 15px;">
	ระบบนี้คือ CentOS 5 ที่ถูกปรับแต่งโดยใส่ iBerryControl จาก iberrystudio.net ไว้ ซึ่งได้รับรางวัลชนะเลิศในการแข่งขันพัฒนาซอฟต์แวร์แห่งประเทศไทย (NSC2010)<br />
	สำหรับการนำไปทำ Shared hosting<br />
	<b>ต้องการหน่วยความจำขั้นต่ำ 300MB และจะต้องตั้งชื่อเครื่องเป็นโดเมนเนม (FQDN เช่น whsgroup.ath.cx)</b><br /> <br/>
	สำหรับการใช้งานให้เข้าไปยังหน้าเว็บของเครื่องแล้ว Login ด้วย username <b>admin</b> password <b>123456</b>
</div>